.containerQRcode {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentQrCode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    span {
        font: 500 2rem 'Roboto', sans-serif;
        margin-bottom: 5rem;
    }
}

.boxCode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font: 500 2rem 'Roboto', sans-serif;
    }
}

.BTNDownload {
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cyan-500);
    border-radius: 8px;
    padding: 3px;
    margin-top: 3rem;
    cursor: pointer;

    a {
        font: 500 1.5rem 'Roboto', sans-serif;
    }
}

.BTNReturn {
    width: 3rem;
    height: 20rem;
    background-color: var(--cyan-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 8px 8px 0;
    padding: 3px;
    cursor: pointer;

    p {
        transform: rotate(270deg);
        font: 500 1.2rem 'Roboto', sans-serif;
    }
}